@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.wInput::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #1A1919;
}

.imgShow {
    background: linear-gradient(180deg, #CDD3F4 0%, #9FB1F0 100%);
}

.feather {
    width: 16px;
    height: 16px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.show{
    transform: translateX(0px) !important;
    transition: 0.3s ease-in-out;
}